// base color
$blue:#3a65eb;
$light-blue:#3a65eb;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#f9fafe;
$subMenuBg:#f9fafe;
$menuHover:#1989fa;
$sideBarWidth: 180px;
